@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-bg: hsl(0, 0%, 98%);
  --color-primary: hsl(236, 9%, 61%);
  --bg-image: url("./images/bg-mobile-light.jpg");
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --placeholder-text: hsl(236, 33%, 92%);
}

.darkmode {
  --color-bg: hsl(235, 21%, 11%);
  --color-primary: hsl(235, 24%, 19%);
  --bg-image: url("./images/bg-mobile-dark.jpg");
  --box-shadow: rgba(0, 4, 7, 0.2) 0px 8px 24px;
  --placeholder-text: hsl(235, 24%, 19%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-primary);
}

header {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 4rem 2rem 2rem 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

header h2 {
  letter-spacing: 10px;
}

#theme-switch {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

main {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.new-todo {
  background-color: var(--color-bg);
  width: 100%;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.new-todo input {
  border: none;
  margin-right: 5px;
}

.new-todo input[type="text"] {
  width: 90%;
}

.new-todo input::placeholder {
  color: var(--placeholder-text);
}

.todos {
  width: 100%;
  margin: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.todos ul {
  list-style: none;
}

.todos ul li {
  padding: 1rem;
  border-bottom: 1px solid hsl(235, 19%, 35%);
  display: flex;
  gap: 1rem;
}

.todo-status {
  width: 100%;
  margin: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-primary);
}

.drag-p {
  text-align: center;
}

.completed {
  text-decoration: line-through;
}
